#Basice packages to install by apt-get
#sudo apt-get install python-pip python-dev libhdf5-dev portaudio19-dev

#Requirements
pyyaml 
h5py 
numpy >= 1.12.0
scipy  
sympy 
nose
scikit-learn

tensorflow
keras
librosa
pyaudio
webrtcvad
